.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-NZF4DnFepNqK);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-1lJp_iE_cIXJ);
  font-family: var(--token-e9YlwMNLuQ80);
  font-size: var(--token-6I_txNu-uVVz);
  line-height: var(--token-oZ8FkHgDLiy2);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-gJGddswbrNAT);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-wMyGYIPPpA5Y);
  outline-offset: 1px;
  outline-color: var(--token-NZF4DnFepNqK);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-EqmdwxgWS_ny);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-r2EqoCAPnbdr);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-EO6xAXQjkVlO);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-8WdJZIxKSX6z);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-bEIsIUSsFcHi);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-zEA9OP1L7ttk);
  font-size: var(--token-KLEXixU9JIc8);
  column-gap: var(--token-wMyGYIPPpA5Y);
  row-gap: 0px;
  border-radius: var(--token-rh1SSO8M5NN3);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-KLEXixU9JIc8);
  line-height: var(--token-zEA9OP1L7ttk);
  column-gap: var(--token-rh1SSO8M5NN3);
  row-gap: 0px;
  border-radius: var(--token-rh1SSO8M5NN3);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-5QXbl4eupyPS);
  line-height: var(--token-Ibk5HsozVTlW);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-5QXbl4eupyPS);
  line-height: var(--token-Ibk5HsozVTlW);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-IV80cKZtCzU3);
  border-radius: var(--token-gJGddswbrNAT);
}
.softBackgroundcolor_neutral {
  background: var(--token-y4wL43WMyVmJ);
}
.softBackgroundcolor_muted {
  background: var(--token-N5ad-tURIryy);
}
.softBackgroundcolor_success {
  background: var(--token-QbMsDaJh5uhO);
}
.softBackgroundcolor_warning {
  background: var(--token-XQZNKWDy7NKJ);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-xu2u76byZoeI);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-gJGddswbrNAT);
  border: 0px solid var(--token-cmHdGP7soF_i);
}
.bordercolor_neutral {
  border-color: var(--token-GxvY_GRH5dyw);
}
.bordercolor_muted {
  border-color: var(--token-SUnv_tY0Y8Z_);
}
.bordercolor_success {
  border-color: var(--token-AFlIKMo4gbyi);
}
.bordercolor_warning {
  border-color: var(--token-AsOEsjMV4fNI);
}
.bordercolor_errorDestructive {
  border-color: var(--token-1F9Ub7yv0snQ);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-gJGddswbrNAT);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-tP1zgNIBMbvb);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-zTB24VoW-ikC);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-KoQyCQ7NmKIc);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___0M6Aj {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-gJGddswbrNAT) var(--token-N6i-RTztSR88);
}
.freeBox___0M6Aj > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-gJGddswbrNAT));
  width: calc(100% + var(--token-gJGddswbrNAT));
}
.freeBox___0M6Aj > :global(.__wab_flex-container) > *,
.freeBox___0M6Aj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0M6Aj > :global(.__wab_flex-container) > picture > img,
.freeBox___0M6Aj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-gJGddswbrNAT);
}
.freeBoxsize_extraSmall___0M6Aj75E2B {
  padding: var(--token-rh1SSO8M5NN3) var(--token-gJGddswbrNAT);
}
.freeBoxsize_small___0M6AjsGdNz {
  padding: var(--token-gJGddswbrNAT) var(--token-1lJp_iE_cIXJ);
}
.freeBoxsize_large___0M6AjKSdZ {
  padding-top: var(--token-rh1SSO8M5NN3);
  padding-bottom: var(--token-rh1SSO8M5NN3);
}
.freeBoxsize_extraLarge___0M6AjPp2Dy {
  padding-left: var(--token-peJ0CC3QI60K);
  padding-right: var(--token-peJ0CC3QI60K);
}
.freeBoxroundedFull___0M6AjabHZp {
  padding-right: var(--token-peJ0CC3QI60K);
  padding-left: var(--token-peJ0CC3QI60K);
}
.freeBox__xPm8 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__xPm847Jxk {
  display: flex;
}
.slotTargetStart {
  color: var(--token-SUqZh8rLxKp6);
}
.slotTargetStartcolor_neutral {
  color: var(--token-8ZXoG9393Jyr);
}
.slotTargetStartcolor_muted {
  color: var(--token-_RbAqgTv01Fn);
}
.slotTargetStartcolor_success {
  color: var(--token-1A9u8bk8dXNc);
}
.slotTargetStartcolor_warning {
  color: var(--token-qsmBOlTBmjuu);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-jjwJU44MuTl4);
}
.slotTargetStarttype_soft {
  color: var(--token-CCkCqKXISiFw);
}
.slotTargetStarttype_bordered {
  color: var(--token-CCkCqKXISiFw);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-KLEXixU9JIc8);
}
.slotTargetStartsize_small {
  font-size: var(--token-KLEXixU9JIc8);
}
.slotTargetStartsize_large {
  font-size: var(--token-5QXbl4eupyPS);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-5QXbl4eupyPS);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-5zQKQRkSG09d);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-5zQKQRkSG09d);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-0zJmyHk88Au0);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-0zJmyHk88Au0);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-uJG8FT-qtgFG);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-uJG8FT-qtgFG);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-f3CMFpeOHzcO);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-f3CMFpeOHzcO);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-wZk1Rd53zoQ4);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-wZk1Rd53zoQ4);
}
.svg__miGpR {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-SUqZh8rLxKp6);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-8ZXoG9393Jyr);
}
.slotTargetLabelcolor_muted {
  color: var(--token-_RbAqgTv01Fn);
}
.slotTargetLabelcolor_success {
  color: var(--token-1A9u8bk8dXNc);
}
.slotTargetLabelcolor_warning {
  color: var(--token-qsmBOlTBmjuu);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-jjwJU44MuTl4);
}
.slotTargetLabeltype_soft {
  color: var(--token-CCkCqKXISiFw);
}
.slotTargetLabeltype_bordered {
  color: var(--token-CCkCqKXISiFw);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-5zQKQRkSG09d);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-0zJmyHk88Au0);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-5zQKQRkSG09d);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-uJG8FT-qtgFG);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-0zJmyHk88Au0);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-f3CMFpeOHzcO);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-uJG8FT-qtgFG);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-wZk1Rd53zoQ4);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-f3CMFpeOHzcO);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-wZk1Rd53zoQ4);
}
.text__kcy8S {
  white-space: pre;
}
.freeBox__aOarh {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__aOarhsv5Tq {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-SUqZh8rLxKp6);
}
.slotTargetEndcolor_neutral {
  color: var(--token-8ZXoG9393Jyr);
}
.slotTargetEndcolor_muted {
  color: var(--token-_RbAqgTv01Fn);
}
.slotTargetEndcolor_success {
  color: var(--token-1A9u8bk8dXNc);
}
.slotTargetEndcolor_warning {
  color: var(--token-qsmBOlTBmjuu);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-jjwJU44MuTl4);
}
.slotTargetEndtype_soft {
  color: var(--token-CCkCqKXISiFw);
}
.slotTargetEndtype_bordered {
  color: var(--token-CCkCqKXISiFw);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-KLEXixU9JIc8);
}
.slotTargetEndsize_small {
  font-size: var(--token-KLEXixU9JIc8);
}
.slotTargetEndsize_large {
  font-size: var(--token-5QXbl4eupyPS);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-5QXbl4eupyPS);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-5zQKQRkSG09d);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-5zQKQRkSG09d);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-0zJmyHk88Au0);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-0zJmyHk88Au0);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-uJG8FT-qtgFG);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-uJG8FT-qtgFG);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-f3CMFpeOHzcO);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-f3CMFpeOHzcO);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-wZk1Rd53zoQ4);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-wZk1Rd53zoQ4);
}
.svg__bamIb {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
