@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800%3B1%2C400%3B1%2C600%3B1%2C700%3B1%2C800&display=swap");

.plasmic_tokens {
  --token-SIfj1gIrcu3y: #007aff;
  --plasmic-token-blue: var(--token-SIfj1gIrcu3y);
  --token-a1YHz6R5s8H4: #333333;
  --plasmic-token-primary-label: var(--token-a1YHz6R5s8H4);
  --token-gnY1epYlmCWo: #666666;
  --plasmic-token-secondary-label: var(--token-gnY1epYlmCWo);
  --token-ljRpS9WYKk-J: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-ljRpS9WYKk-J);
  --token-GuEWU6M1pN-i: #ffcc00;
  --plasmic-token-star-color: var(--token-GuEWU6M1pN-i);
  --token-NZF4DnFepNqK: #333333;
  --plasmic-token-brand-brand: var(--token-NZF4DnFepNqK);
  --token-1lJp_iE_cIXJ: 0.5rem;
  --plasmic-token-size-8: var(--token-1lJp_iE_cIXJ);
  --token-e9YlwMNLuQ80: Inter;
  --plasmic-token-sans-serif: var(--token-e9YlwMNLuQ80);
  --token-6I_txNu-uVVz: 1rem;
  --plasmic-token-font-md: var(--token-6I_txNu-uVVz);
  --token-oZ8FkHgDLiy2: 1.25;
  --plasmic-token-line-height-md: var(--token-oZ8FkHgDLiy2);
  --token-gJGddswbrNAT: 0.375rem;
  --plasmic-token-size-6: var(--token-gJGddswbrNAT);
  --token-EqmdwxgWS_ny: #374151;
  --plasmic-token-neutral-neutral: var(--token-EqmdwxgWS_ny);
  --token-bEIsIUSsFcHi: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-bEIsIUSsFcHi);
  --token-r2EqoCAPnbdr: #6b7280;
  --plasmic-token-muted-muted: var(--token-r2EqoCAPnbdr);
  --token-rh1SSO8M5NN3: 0.25rem;
  --plasmic-token-size-4: var(--token-rh1SSO8M5NN3);
  --token-KLEXixU9JIc8: 0.75rem;
  --plasmic-token-font-sm: var(--token-KLEXixU9JIc8);
  --token-zEA9OP1L7ttk: 1;
  --plasmic-token-line-height-sm: var(--token-zEA9OP1L7ttk);
  --token-5QXbl4eupyPS: 1.25rem;
  --plasmic-token-font-lg: var(--token-5QXbl4eupyPS);
  --token-Ibk5HsozVTlW: 1.4;
  --plasmic-token-line-height-lg: var(--token-Ibk5HsozVTlW);
  --token-wMyGYIPPpA5Y: 0.125rem;
  --plasmic-token-size-2: var(--token-wMyGYIPPpA5Y);
  --token-EO6xAXQjkVlO: #16a34a;
  --plasmic-token-success-success: var(--token-EO6xAXQjkVlO);
  --token-8WdJZIxKSX6z: #facc15;
  --plasmic-token-warning-warning: var(--token-8WdJZIxKSX6z);
  --token-IV80cKZtCzU3: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-IV80cKZtCzU3);
  --token-y4wL43WMyVmJ: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-y4wL43WMyVmJ);
  --token-N5ad-tURIryy: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-N5ad-tURIryy);
  --token-QbMsDaJh5uhO: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-QbMsDaJh5uhO);
  --token-XQZNKWDy7NKJ: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-XQZNKWDy7NKJ);
  --token-xu2u76byZoeI: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-xu2u76byZoeI);
  --token-cmHdGP7soF_i: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-cmHdGP7soF_i);
  --token-GxvY_GRH5dyw: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-GxvY_GRH5dyw);
  --token-SUnv_tY0Y8Z_: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-SUnv_tY0Y8Z_);
  --token-AFlIKMo4gbyi: #86efac;
  --plasmic-token-success-success-border: var(--token-AFlIKMo4gbyi);
  --token-AsOEsjMV4fNI: #fde047;
  --plasmic-token-warning-warning-border: var(--token-AsOEsjMV4fNI);
  --token-1F9Ub7yv0snQ: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-1F9Ub7yv0snQ);
  --token-tP1zgNIBMbvb: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-tP1zgNIBMbvb);
  --token-zTB24VoW-ikC: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-zTB24VoW-ikC);
  --token-KoQyCQ7NmKIc: #00000033;
  --plasmic-token-interaction-pressed: var(--token-KoQyCQ7NmKIc);
  --token-N6i-RTztSR88: 0.625rem;
  --plasmic-token-size-10: var(--token-N6i-RTztSR88);
  --token-peJ0CC3QI60K: 0.75rem;
  --plasmic-token-size-12: var(--token-peJ0CC3QI60K);
  --token-SUqZh8rLxKp6: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-SUqZh8rLxKp6);
  --token-8ZXoG9393Jyr: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-8ZXoG9393Jyr);
  --token-_RbAqgTv01Fn: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-_RbAqgTv01Fn);
  --token-CCkCqKXISiFw: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-CCkCqKXISiFw);
  --token-qsmBOlTBmjuu: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-qsmBOlTBmjuu);
  --token-1A9u8bk8dXNc: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-1A9u8bk8dXNc);
  --token-jjwJU44MuTl4: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-jjwJU44MuTl4);
  --token-5zQKQRkSG09d: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-5zQKQRkSG09d);
  --token-0zJmyHk88Au0: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-0zJmyHk88Au0);
  --token-uJG8FT-qtgFG: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-uJG8FT-qtgFG);
  --token-f3CMFpeOHzcO: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-f3CMFpeOHzcO);
  --token-wZk1Rd53zoQ4: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-wZk1Rd53zoQ4
  );
  --token-60OlInySWI8H: 2rem;
  --plasmic-token-size-32: var(--token-60OlInySWI8H);
  --token-W_SCcnRdUqMW: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-W_SCcnRdUqMW);
  --token-WTFgql4O7m1v: #030712;
  --plasmic-token-basic-text-primary: var(--token-WTFgql4O7m1v);
  --token-8axx3Axqsffe: #d1d5db;
  --plasmic-token-basic-border: var(--token-8axx3Axqsffe);
  --token-NqN_VpfZim-4: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-NqN_VpfZim-4);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-C9jPaxnWDSgD_font-family: "Inter", sans-serif;
  --mixin-C9jPaxnWDSgD_font-size: 16px;
  --mixin-C9jPaxnWDSgD_font-style: normal;
  --mixin-C9jPaxnWDSgD_color: #333333;
  --mixin-C9jPaxnWDSgD_text-align: left;
  --mixin-C9jPaxnWDSgD_text-transform: none;
  --mixin-C9jPaxnWDSgD_white-space: pre-wrap;
  --mixin-C9jPaxnWDSgD_user-select: text;
  --mixin-C9jPaxnWDSgD_text-decoration-line: none;
  --mixin-C9jPaxnWDSgD_text-overflow: clip;
  --mixin-C9jPaxnWDSgD_line-height: 1.5;
  --mixin-Yh7aJx5Qlhiy_font-family: "Inter", sans-serif;
  --mixin-Yh7aJx5Qlhiy_color: #000000;
  --mixin-Yh7aJx5Qlhiy_font-size: 48px;
  --mixin-Yh7aJx5Qlhiy_font-weight: 700;
  --mixin-Yh7aJx5Qlhiy_letter-spacing: -1px;
  --mixin-Yh7aJx5Qlhiy_line-height: 1.1;
  --mixin-Yh7aJx5Qlhiy_white-space: pre-wrap;
  --mixin-217g8THykgpM_font-family: "Inter", sans-serif;
  --mixin-217g8THykgpM_color: #000000;
  --mixin-217g8THykgpM_font-size: 32px;
  --mixin-217g8THykgpM_font-weight: 600;
  --mixin-217g8THykgpM_letter-spacing: -0.8px;
  --mixin-217g8THykgpM_line-height: 1.2;
  --mixin-217g8THykgpM_white-space: pre-wrap;
  --mixin-IyZqQspOGtQd_font-family: "Inter", sans-serif;
  --mixin-IyZqQspOGtQd_color: #000000;
  --mixin-IyZqQspOGtQd_font-size: 24px;
  --mixin-IyZqQspOGtQd_font-weight: 600;
  --mixin-IyZqQspOGtQd_letter-spacing: -0.5px;
  --mixin-IyZqQspOGtQd_line-height: 1.3;
  --mixin-IyZqQspOGtQd_white-space: pre-wrap;
  --mixin-c4ooz2o4RG0d_font-family: "Inter", sans-serif;
  --mixin-c4ooz2o4RG0d_color: #000000;
  --mixin-c4ooz2o4RG0d_font-size: 20px;
  --mixin-c4ooz2o4RG0d_font-weight: 600;
  --mixin-c4ooz2o4RG0d_letter-spacing: -0.3px;
  --mixin-c4ooz2o4RG0d_line-height: 1.5;
  --mixin-c4ooz2o4RG0d_white-space: pre-wrap;
  --mixin-dsMxcMVv_FIy_font-family: "Inter", sans-serif;
  --mixin-dsMxcMVv_FIy_color: #000000;
  --mixin-dsMxcMVv_FIy_font-size: 16px;
  --mixin-dsMxcMVv_FIy_font-weight: 600;
  --mixin-dsMxcMVv_FIy_line-height: 1.5;
  --mixin-dsMxcMVv_FIy_white-space: pre-wrap;
  --mixin-4zIbgb8OQP1z_border-left-color: #dddddd;
  --mixin-4zIbgb8OQP1z_border-left-style: solid;
  --mixin-4zIbgb8OQP1z_border-left-width: 3px;
  --mixin-4zIbgb8OQP1z_color: #888888;
  --mixin-4zIbgb8OQP1z_padding-left: 10px;
  --mixin-4zIbgb8OQP1z_white-space: pre-wrap;
  --mixin-mR-m3TCp3rU9_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mR-m3TCp3rU9_border-bottom-color: #dddddd;
  --mixin-mR-m3TCp3rU9_border-bottom-style: solid;
  --mixin-mR-m3TCp3rU9_border-bottom-width: 1px;
  --mixin-mR-m3TCp3rU9_border-left-color: #dddddd;
  --mixin-mR-m3TCp3rU9_border-left-style: solid;
  --mixin-mR-m3TCp3rU9_border-left-width: 1px;
  --mixin-mR-m3TCp3rU9_border-right-color: #dddddd;
  --mixin-mR-m3TCp3rU9_border-right-style: solid;
  --mixin-mR-m3TCp3rU9_border-right-width: 1px;
  --mixin-mR-m3TCp3rU9_border-top-color: #dddddd;
  --mixin-mR-m3TCp3rU9_border-top-style: solid;
  --mixin-mR-m3TCp3rU9_border-top-width: 1px;
  --mixin-mR-m3TCp3rU9_border-bottom-left-radius: 3px;
  --mixin-mR-m3TCp3rU9_border-bottom-right-radius: 3px;
  --mixin-mR-m3TCp3rU9_border-top-left-radius: 3px;
  --mixin-mR-m3TCp3rU9_border-top-right-radius: 3px;
  --mixin-mR-m3TCp3rU9_font-family: "Inconsolata";
  --mixin-mR-m3TCp3rU9_padding-bottom: 1px;
  --mixin-mR-m3TCp3rU9_padding-left: 4px;
  --mixin-mR-m3TCp3rU9_padding-right: 4px;
  --mixin-mR-m3TCp3rU9_padding-top: 1px;
  --mixin-mR-m3TCp3rU9_white-space: pre-wrap;
  --mixin-w6GdD2UdWfrv_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-w6GdD2UdWfrv_border-bottom-color: #dddddd;
  --mixin-w6GdD2UdWfrv_border-bottom-style: solid;
  --mixin-w6GdD2UdWfrv_border-bottom-width: 1px;
  --mixin-w6GdD2UdWfrv_border-left-color: #dddddd;
  --mixin-w6GdD2UdWfrv_border-left-style: solid;
  --mixin-w6GdD2UdWfrv_border-left-width: 1px;
  --mixin-w6GdD2UdWfrv_border-right-color: #dddddd;
  --mixin-w6GdD2UdWfrv_border-right-style: solid;
  --mixin-w6GdD2UdWfrv_border-right-width: 1px;
  --mixin-w6GdD2UdWfrv_border-top-color: #dddddd;
  --mixin-w6GdD2UdWfrv_border-top-style: solid;
  --mixin-w6GdD2UdWfrv_border-top-width: 1px;
  --mixin-w6GdD2UdWfrv_border-bottom-left-radius: 3px;
  --mixin-w6GdD2UdWfrv_border-bottom-right-radius: 3px;
  --mixin-w6GdD2UdWfrv_border-top-left-radius: 3px;
  --mixin-w6GdD2UdWfrv_border-top-right-radius: 3px;
  --mixin-w6GdD2UdWfrv_font-family: "Inconsolata";
  --mixin-w6GdD2UdWfrv_padding-bottom: 3px;
  --mixin-w6GdD2UdWfrv_padding-left: 6px;
  --mixin-w6GdD2UdWfrv_padding-right: 6px;
  --mixin-w6GdD2UdWfrv_padding-top: 3px;
  --mixin-w6GdD2UdWfrv_white-space: pre-wrap;
  --mixin-tczjgqtc_FIL_display: flex;
  --mixin-tczjgqtc_FIL_flex-direction: column;
  --mixin-tczjgqtc_FIL_align-items: stretch;
  --mixin-tczjgqtc_FIL_justify-content: flex-start;
  --mixin-tczjgqtc_FIL_list-style-position: outside;
  --mixin-tczjgqtc_FIL_padding-left: 40px;
  --mixin-tczjgqtc_FIL_position: relative;
  --mixin-tczjgqtc_FIL_list-style-type: decimal;
  --mixin-tczjgqtc_FIL_white-space: pre-wrap;
  --mixin-8ftvf7UIE5GM_display: flex;
  --mixin-8ftvf7UIE5GM_flex-direction: column;
  --mixin-8ftvf7UIE5GM_align-items: stretch;
  --mixin-8ftvf7UIE5GM_justify-content: flex-start;
  --mixin-8ftvf7UIE5GM_list-style-position: outside;
  --mixin-8ftvf7UIE5GM_padding-left: 40px;
  --mixin-8ftvf7UIE5GM_position: relative;
  --mixin-8ftvf7UIE5GM_list-style-type: disc;
  --mixin-8ftvf7UIE5GM_white-space: pre-wrap;
  --mixin-Ti_4YhwZ7xnl_white-space: pre-wrap;
  --mixin-RDqFUi2lVSkP_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-7DQNdByGANjJ_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-7DQNdByGANjJ_white-space);
  --mixin-IyyIWD5RMikP_white-space: pre-wrap;
  --plasmic-mixin-h-1_white-space: var(--mixin-IyyIWD5RMikP_white-space);
  --mixin-UzAftIvoN_Of_white-space: pre-wrap;
  --plasmic-mixin-h-2_white-space: var(--mixin-UzAftIvoN_Of_white-space);
  --mixin-9ftKVRwLMyPU_white-space: pre-wrap;
  --plasmic-mixin-h-3_white-space: var(--mixin-9ftKVRwLMyPU_white-space);
  --mixin-K0MN3noVKxEx_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-K0MN3noVKxEx_white-space);
  --mixin-EHbElQeijv44_white-space: pre-wrap;
  --plasmic-mixin-product-image_white-space: var(
    --mixin-EHbElQeijv44_white-space
  );
  --mixin-pDQD0lUs_4JC_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-pDQD0lUs_4JC_box-shadow);
  --mixin-pDQD0lUs_4JC_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-pDQD0lUs_4JC_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-C9jPaxnWDSgD_font-family);
  font-size: var(--mixin-C9jPaxnWDSgD_font-size);
  font-style: var(--mixin-C9jPaxnWDSgD_font-style);
  color: var(--mixin-C9jPaxnWDSgD_color);
  text-align: var(--mixin-C9jPaxnWDSgD_text-align);
  text-transform: var(--mixin-C9jPaxnWDSgD_text-transform);
  line-height: var(--mixin-C9jPaxnWDSgD_line-height);
  white-space: var(--mixin-C9jPaxnWDSgD_white-space);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-Yh7aJx5Qlhiy_font-family);
  color: var(--mixin-Yh7aJx5Qlhiy_color);
  font-size: var(--mixin-Yh7aJx5Qlhiy_font-size);
  font-weight: var(--mixin-Yh7aJx5Qlhiy_font-weight);
  letter-spacing: var(--mixin-Yh7aJx5Qlhiy_letter-spacing);
  line-height: var(--mixin-Yh7aJx5Qlhiy_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-217g8THykgpM_font-family);
  color: var(--mixin-217g8THykgpM_color);
  font-size: var(--mixin-217g8THykgpM_font-size);
  font-weight: var(--mixin-217g8THykgpM_font-weight);
  letter-spacing: var(--mixin-217g8THykgpM_letter-spacing);
  line-height: var(--mixin-217g8THykgpM_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-IyZqQspOGtQd_font-family);
  color: var(--mixin-IyZqQspOGtQd_color);
  font-size: var(--mixin-IyZqQspOGtQd_font-size);
  font-weight: var(--mixin-IyZqQspOGtQd_font-weight);
  letter-spacing: var(--mixin-IyZqQspOGtQd_letter-spacing);
  line-height: var(--mixin-IyZqQspOGtQd_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-c4ooz2o4RG0d_font-family);
  color: var(--mixin-c4ooz2o4RG0d_color);
  font-size: var(--mixin-c4ooz2o4RG0d_font-size);
  font-weight: var(--mixin-c4ooz2o4RG0d_font-weight);
  letter-spacing: var(--mixin-c4ooz2o4RG0d_letter-spacing);
  line-height: var(--mixin-c4ooz2o4RG0d_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-dsMxcMVv_FIy_font-family);
  color: var(--mixin-dsMxcMVv_FIy_color);
  font-size: var(--mixin-dsMxcMVv_FIy_font-size);
  font-weight: var(--mixin-dsMxcMVv_FIy_font-weight);
  line-height: var(--mixin-dsMxcMVv_FIy_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-4zIbgb8OQP1z_color);
  padding-left: var(--mixin-4zIbgb8OQP1z_padding-left);
  border-left: var(--mixin-4zIbgb8OQP1z_border-left-width)
    var(--mixin-4zIbgb8OQP1z_border-left-style)
    var(--mixin-4zIbgb8OQP1z_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-mR-m3TCp3rU9_font-family);
  border-radius: var(--mixin-mR-m3TCp3rU9_border-top-left-radius)
    var(--mixin-mR-m3TCp3rU9_border-top-right-radius)
    var(--mixin-mR-m3TCp3rU9_border-bottom-right-radius)
    var(--mixin-mR-m3TCp3rU9_border-bottom-left-radius);
  padding: var(--mixin-mR-m3TCp3rU9_padding-top)
    var(--mixin-mR-m3TCp3rU9_padding-right)
    var(--mixin-mR-m3TCp3rU9_padding-bottom)
    var(--mixin-mR-m3TCp3rU9_padding-left);
  border-top: var(--mixin-mR-m3TCp3rU9_border-top-width)
    var(--mixin-mR-m3TCp3rU9_border-top-style)
    var(--mixin-mR-m3TCp3rU9_border-top-color);
  border-right: var(--mixin-mR-m3TCp3rU9_border-right-width)
    var(--mixin-mR-m3TCp3rU9_border-right-style)
    var(--mixin-mR-m3TCp3rU9_border-right-color);
  border-bottom: var(--mixin-mR-m3TCp3rU9_border-bottom-width)
    var(--mixin-mR-m3TCp3rU9_border-bottom-style)
    var(--mixin-mR-m3TCp3rU9_border-bottom-color);
  border-left: var(--mixin-mR-m3TCp3rU9_border-left-width)
    var(--mixin-mR-m3TCp3rU9_border-left-style)
    var(--mixin-mR-m3TCp3rU9_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-w6GdD2UdWfrv_font-family);
  border-radius: var(--mixin-w6GdD2UdWfrv_border-top-left-radius)
    var(--mixin-w6GdD2UdWfrv_border-top-right-radius)
    var(--mixin-w6GdD2UdWfrv_border-bottom-right-radius)
    var(--mixin-w6GdD2UdWfrv_border-bottom-left-radius);
  padding: var(--mixin-w6GdD2UdWfrv_padding-top)
    var(--mixin-w6GdD2UdWfrv_padding-right)
    var(--mixin-w6GdD2UdWfrv_padding-bottom)
    var(--mixin-w6GdD2UdWfrv_padding-left);
  border-top: var(--mixin-w6GdD2UdWfrv_border-top-width)
    var(--mixin-w6GdD2UdWfrv_border-top-style)
    var(--mixin-w6GdD2UdWfrv_border-top-color);
  border-right: var(--mixin-w6GdD2UdWfrv_border-right-width)
    var(--mixin-w6GdD2UdWfrv_border-right-style)
    var(--mixin-w6GdD2UdWfrv_border-right-color);
  border-bottom: var(--mixin-w6GdD2UdWfrv_border-bottom-width)
    var(--mixin-w6GdD2UdWfrv_border-bottom-style)
    var(--mixin-w6GdD2UdWfrv_border-bottom-color);
  border-left: var(--mixin-w6GdD2UdWfrv_border-left-width)
    var(--mixin-w6GdD2UdWfrv_border-left-style)
    var(--mixin-w6GdD2UdWfrv_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-tczjgqtc_FIL_display);
  flex-direction: var(--mixin-tczjgqtc_FIL_flex-direction);
  align-items: var(--mixin-tczjgqtc_FIL_align-items);
  justify-content: var(--mixin-tczjgqtc_FIL_justify-content);
  list-style-position: var(--mixin-tczjgqtc_FIL_list-style-position);
  padding-left: var(--mixin-tczjgqtc_FIL_padding-left);
  position: var(--mixin-tczjgqtc_FIL_position);
  list-style-type: var(--mixin-tczjgqtc_FIL_list-style-type);
  flex-column-gap: var(--mixin-tczjgqtc_FIL_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-8ftvf7UIE5GM_display);
  flex-direction: var(--mixin-8ftvf7UIE5GM_flex-direction);
  align-items: var(--mixin-8ftvf7UIE5GM_align-items);
  justify-content: var(--mixin-8ftvf7UIE5GM_justify-content);
  list-style-position: var(--mixin-8ftvf7UIE5GM_list-style-position);
  padding-left: var(--mixin-8ftvf7UIE5GM_padding-left);
  position: var(--mixin-8ftvf7UIE5GM_position);
  list-style-type: var(--mixin-8ftvf7UIE5GM_list-style-type);
  flex-column-gap: var(--mixin-8ftvf7UIE5GM_flex-column-gap);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
}
