.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-8axx3Axqsffe);
  color: var(--token-WTFgql4O7m1v);
  font-family: var(--token-e9YlwMNLuQ80);
  font-size: var(--token-6I_txNu-uVVz);
  line-height: var(--token-oZ8FkHgDLiy2);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-gJGddswbrNAT);
  padding: var(--token-gJGddswbrNAT) var(--token-N6i-RTztSR88);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-wMyGYIPPpA5Y);
  outline-offset: 1px;
  outline-color: var(--token-NZF4DnFepNqK);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-N5ad-tURIryy);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-NqN_VpfZim-4);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-N5ad-tURIryy);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-60OlInySWI8H);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-60OlInySWI8H);
}
